@font-face {
  font-family: "Plus Jakarta Sans ExtraLight";
  src: url('./fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Plus Jakarta Sans ExtraLight";
  font-size: 16px;
  background: var(--vlgblue);
  padding: 50px calc((100vw - 560px)/2) 30px;
  min-height: 100vh;
  max-height: auto;
}

@media screen and (max-width: 590px) {
  .App {
    background: var(--white);
    padding: 0;
  }
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --vlgblue: hsl(210, 60%, 98%);
  --lgblue1: hsl(211, 68%, 94%);
  --lgblue2: hsl(205, 33%, 90%);
  --gblue: hsl(219, 14%, 63%);
  --dgblue: hsl(219, 12%, 42%);
  --vdblue: hsl(224, 21%, 14%);
}